{% extends "layout.html" %}

{% block content %}

<section id="panel1">
    <div class="container-fluid">
        <div id="body" class="row">
            <a href="/view/father"class="col-md-3 book">
                <img src="https://images-na.ssl-images-amazon.com/images/I/81c8z1wKEeS.jpg" class="cover" alt="">
                <div class="title">Father Comes Home</div>
            </a>
            <a class="col-md-3 book">
                <img src="https://images-na.ssl-images-amazon.com/images/I/91nDJl0aZPL.jpg" class="cover" alt="">
                <div class="title">Inferno</div>
            </a>
            <a class="col-md-3 book">
                <img src="https://images-na.ssl-images-amazon.com/images/I/81iMLPLcQAL.jpg" class="cover" alt="">
                <div class="title">Don Quixote</div>
            </a>
            <a class="col-md-3 book">
                <img src="https://images-na.ssl-images-amazon.com/images/I/61EKxawb6xL.jpg" class="cover" alt="">
                <div class="title">Song of Solomon</div>
            </a>
        </div>

        <div class="row footer">
            <div class="col-md-12 no">
                VIEW ENTIRE CATALOG >
            </div>
        </div>
    </div>
</section>
<section id="panel2">
    <div class="container-fluid">
        <div id="body" class="row">
            <a class="col-md-3 book">
                <img src="https://images-na.ssl-images-amazon.com/images/I/71H-0fOURHL.jpg" class="cover" alt="">
                <div class="title">To the Lighthouse</div>
            </a>
            <a class="col-md-3 book">
                <img src="https://images-na.ssl-images-amazon.com/images/I/71Djqom1jRL.jpg"" class="cover" alt="">
                <div class="title">Crime and Punishment</div>
            </a>
            <a class="col-md-3 book">
                <img src="https://images-na.ssl-images-amazon.com/images/I/81eZ5V0Ct1L.jpg" class="cover" alt="">
                <div class="title">Pride and Prejudice</div>
            </a>
            <a class="col-md-3 book">
                <img src="https://images-na.ssl-images-amazon.com/images/I/817cCyx1GHL.jpg" class="cover" alt="">
                <div class="title">The Metamorphosis</div>
            </a>
        </div>

        <div class="row footer">
            <div class="col-md-12 no">
                VIEW ENTIRE CATALOG >
            </div>
        </div>
</section>
<section id="panel3">
    <div class="container-fluid">
        <div id="body" class="row">
            <a class="col-md-3 book">
                <img src="https://images-na.ssl-images-amazon.com/images/I/81b+qikFqaS.jpg" class="cover" alt="">
                <div class="title">The Aeneid</div>
            </a>
            <a class="col-md-3 book">
                <img src="https://images-na.ssl-images-amazon.com/images/I/61hCI1gaKaL.jpg"" class="cover" alt="">
                <div class="title">The Illiad</div>
            </a>
            <a class="col-md-3 book">
                <img src="https://images-na.ssl-images-amazon.com/images/I/91+LYTnHOPL.jpg" class="cover" alt="">
                <div class="title">Confessions</div>
            </a>
            <a class="col-md-3 book">
                <img src="https://images-na.ssl-images-amazon.com/images/I/61EKxawb6xL.jpg" class="cover" alt="">
                <div class="title">Song of Solomon</div>
            </a>
        </div>

        <div class="row footer">
            <div class="col-md-12 no">
                VIEW ENTIRE CATALOG >
            </div>
        </div>
</section>

{% endblock %}